* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('./fonts/PressStart2P-vaV7\ \(2\).ttf') format('truetype');
}

@font-face {
    font-family: 'Arcade';
    src: url('./fonts/Arcade.ttf') format('truetype');
}

@font-face {
    font-family: 'BoldLedBoard';
    src: url('./fonts/BoldLedBoard7-4BpK6.ttf') format('truetype');
}

@font-face {
    font-family: 'AdvancedLedBoard';
    src: url('./fonts/AdvancedLedBoard7-8qm2.ttf') format('truetype');
}

:root {
    --adjustX: 50px;
    --adjustY: 0px;
    --adjustFontSize: 19;
    --glowBlue: 0 0 30px #008fd6, 0 0 100px #008fd6;
    --glowLightBlue: 0 0 30px rgb(84, 84, 216, .8);
    --glowWhite: 0 0 30px rgba(255, 255, 255, .3);
    --glowRed: 0 0 30px #aa0000, 0 0 100px #aa0000;
    --glowOff: none;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background-color: #111;
    height: 100vh;
    color: white;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px dashed orange; */
    width: 98%;
    height: 98%;
    margin: 0px;
    flex-direction: column;
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    /* border: 2px dotted white; */
    width: 100%;
    height: 100%;
}

#top-div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
    padding: 0 20px 0 20px;
}

#bottom-div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: 0 20px 0 20px;
}

#fullscreen-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70px; */
    height: 50px;
    cursor: pointer;
    /* border: yellow solid 1px; */
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* border: yellow solid 1px; */
}

.clock-numbers {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    /* font-family: 'BoldLedBoard', cursive; */
    /* font-size: calc(100% * var(--adjustFontSize)); */
    /* color: #ffffff;  */
    /* text-shadow: var(--glowBlue); */
    width: 100%;
    /* height: 50%; */
}

#shape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid green; */
    /* width: 200px; */
    /* height: 200px; */
}

#hours1 {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed green; */
    width: 22.22%;
    /* height: 100%; */
}

#hours2 {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed green; */
    width: 22.22%;
    /* height: 100%; */
}

#minutes1 {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed green; */
    width: 22.22%;
    /* height: 100%; */
}

#minutes2 {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed green; */
    width: 22.22%;
    /* height: 100%; */
}

#colon {
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px dashed green; */
    width: 11.11%;
    /* height: 100%; */
    animation: blink-animation 2s steps(1, start) infinite;
}

.pixel-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* border: 1px dashed white; */
    width: 100%;
    /* height: 100%; */
    /* margin: 3px; */
}

.pixel-white {
    background-color: #ffffff;
    /* box-shadow: inset 0 0 10px #000000, var(--glowWhite); */
    /* box-shadow: var(--glowWhite); */
}

.pixel-red {
    background-color: #ff0000;
}

.pixel-blue {
    background-color: #0000ff;
}

.pixel-light-blue {
    background-color: #5454d8;
    /* box-shadow: var(--glowLightBlue); */
}

.pixel-yellow {
    background-color: #ffff00;
}

.pixel-blank {
    background-color: rgba(0, 0, 0, 0);
}

.pixel {
    /* width: 100%; */
    margin: 3px;
}





@keyframes blink-animation {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}